@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.container {
  width: 90%;
  height: 80%;
  display: flex;
  gap: 2rem;
}

.target-container {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4rem;
  cursor: pointer;
  position: relative;
  transition: flex 0.7s ease-in;
}

.target-container__text {
  color: #fafafa;
  font-family: "Mulish", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  width: 100%;
  opacity: 0;
}

.target-container--explore-the-world {
  background-image: url("https://images.unsplash.com/photo-1558979158-65a1eaa08691?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  flex: 1;
}

.target-container--wild-forest {
  background-image: url("https://images.unsplash.com/photo-1572276596237-5db2c3e16c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  flex: 1;
}

.target-container--sunny-beach {
  background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1353&q=80");
  flex: 1;
}

.target-container--city-on-winter {
  background-image: url("https://images.unsplash.com/photo-1551009175-8a68da93d5f9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
  flex: 1;
}

.target-container--mountains-clouds {
  background-image: url("https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  flex: 1;
}

/* Active states */
.active {
  flex: 10;
}

.active > h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}



/* M e d i a  Q u e r y e s */

@media screen and (max-width: 70rem) {
  .container {
    flex-direction: column;
  }
}
